<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<th:block th:include="/partials/head"></th:block>


	<body>
		<div class="container noFade">	
			<th:block th:include="/partials/menu"></th:block>  	
			
			<div class="row noFade">
				<div class="col-12">
					<div id="explanation" class="explanation"></div>
					<div id="progress">
						<div id="progressBar1" class="text-center">
							<img src="/assets/images/Nav_Page1.png" id="nav" style="width:80px;height:18px;"> 					
						</div>
						<div id="progressBar2" class="text-center hide">
							<img src="/assets/images/Nav_Page2.png" id="nav" style="width:80px;height:18px;"> 					
						</div>
						<div id="progressBar3" class="text-center hide">
							<img src="/assets/images/Nav_Page3.png" id="nav" style="width:80px;height:18px;"> 					
						</div>
					</div>
				</div>
			</div>
			
			<div class="row noFade">
				<div class="col-12">
					<div id="navigation" class="formstart">
						<button type="button" id="bckbtn" class="hide btn btn-primary btn-lg" style="float:left" onclick="bckBtnClicked()">Previous</button>
						<button type="button" id="fwdBtn" class="hide btn btn-primary btn-lg" style="float:right" onclick="fwdBtnClicked()">Next</button>						
					</div>	
				</div>
			</div>
			
			<div id="page1">	
				<div class="row">		
					<div class="col-4" style="display: block;">
						<div id="categoryList" class="list-group noFade"></div>	
					</div>
					<div class="col-8">
						<div id="issueList" class="list-group noFade"></div>
					</div>				
				</div>
			</div>

			<div id="page2" class="hide">		
				<div class="row">				
					<p id="issueDescription"></p>
					<div id="questionList"></div>		
				</div>
			</div>	
			
			<div id="page3" class="hide">
				<div class="row">
					<div class="col-12">
						<form id="userForm" action="javascript:submitHelperForm();">
						  <label class="label_input">Phone</label>
						  <input id="formInput_phone" class="form-control"
							required
							placeholder="Phone number" />							
						</form>	
						<button type="submit" id="submitFormBtn" class="btn btn-primary btn-lg" style="float:right" form="userForm">Submit</button>
					</div>
				</div>
			</div>
			
			<div id="page4" name="summary" class="hide alert alert-success" role="success">
				<p>Your issue has been submitted, we will call you back as soon as we can and help you with your issue. :)</p>
				<button type="button" id="anotherIssuetBtn" class="btn btn-primary btn-lg" onclick="anotherIssueClicked()" style="float:middle">I have another issue</button>
			</div>
				
		</div>			
		   	       
		<th:block th:include="/partials/scripts"></th:block>
		<script src="/js/helper/helpercontroller.js"></script>
		<script src="/js/helper/ajax.js"></script>
		<script src="/js/helper/contentGenerators.js"></script>
		<script src="/js/helper/listenerSetters.js"></script>
		<script src="/js/helper/showHide.js"></script>
	</body>		
</html>