<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<th:block th:include="/partials/head"></th:block>

   	<body>
		<div class="container">	
	      	<th:block th:include="/partials/menu"></th:block>
	       
	      	<h2>Login</h2>	      	     	      	
	      	<br>
	      	<form name='f' th:action="@{/security_check}" method='POST'>
	         	<table>
		            <tr>
		               <td>Email:</td>
		               <td><input type='text' name='email' value=''></td>
		            </tr>		         
		            <tr>
		               <td>Password:</td>
		               <td><input type='password' name='password' /></td>
		            </tr>
		            <tr>
		            	<br>
		               <td>Remember Me?</td>
		               <td><input type="checkbox" name="remember-me" /></td>
		            </tr>            
		            <tr>
		               <td><input name="submit" type="submit" value="submit" /></td>
		            </tr>
	         	</table>
	 		</form>  
	 		<br>	 	 	
	 		<!-- /login?error=true -->
	      	<div th:if="${#request.getParameter('error') == 'true'}"
	         	style="color:red;margin:10px 0px;">
	        	Login Failed!!!<br />
	         	Reason :
	         	<span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
	            th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
	                Static summary
	      		</span>
	            
	      	</div>	      	      	
	 	</div>
	 	<th:block th:include="/partials/scripts"></th:block>
   </body>   
</html>